* {
  box-sizing: border-box;
}

/* font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
#header-princ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

/*RESERVIA LOGO*/
#header-princ img {
  height: 40px;
  width: 80px;
}

/*NAVIGATION LIST*/
#nav-list {
  display: flex;
  list-style: none;
}

#nav-list li {
  margin-left: 50px;
}

#nav-list li > a:link {
  text-decoration: none;
  color: black;
}

#sign-in {
  color: #0065FC;
}
/*END HEADER*/

/*BODY*/

#body-page {
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  width: 100%;
}

  /*CONTAINER HIGH*/


#search-bar {
  display: flex;
  align-items: center;
}

#search-bar i {
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

#search-bar input {
  border-bottom: solid 1px #F2F2F2;
  border-left: none;
  border-right: none;
  border-top: solid 1px #F2F2F2;
  margin-left: 0px;
  margin-right: 0px;
  padding: 9.5px;
}

#search-bar button {
  background-color: #0065FC;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 10px;
}

#filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#filters ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 9px;
}

#filters li {
  align-items: center;
  border: solid 2px #F2F2F2;
  border-radius: 30px;
  display:  flex;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
  padding-left: 75px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

#filters li > i {
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  left: -1px;
  position: absolute;
  top: -2px;
  width: 50px;
  z-index: 2;
}

#end-container-high {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#end-container-high i {
  color: #0065FC;
  margin-right: 5px;
}
  /* END CONTAINER-HIGH */

  /*ARTICLE*/
#container-housing {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

#housing-article {
  background-color: #F2F2F2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  width: 70%;
}

#housing-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
}

#housing-article a {
  font-weight: bold;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  margin-top: 30px;
  padding: 5px;
  width: 30%;
}

.article-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.article-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
}

.article-card p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
}

.article-card ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
  padding: 0;
}

.article-card i {
  color: #0065FC;
}

.article-card i.grey-star {
  color: #F2F2F2;
}
  /* END ARTICLE */

  /*ASIDE*/
#housing-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: 25%;
}

#aside-title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  width: 100%;
}

#aside-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 0px; 
}

.aside-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
}

.aside-card img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 135px;
  object-fit: cover;
  width: 135px;
}

.aside-card div {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.aside-card h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.aside-card p {
  font-size: 14px;
  margin:0;
  padding:0;
}

.aside-card ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aside-card i {
  color: #0065FC;
}

.aside-card i.grey-star {
  color: #F2F2F2;
}
  /* END ASIDE */

  /* ACTIVITY */
#container-activitys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 40px;
}

#activitys-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity-card {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  display: flex;
  flex-direction: column;
  height: 395px;
  margin: 0;
  text-align: center;
  width: 20%;
}

.activity-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 345px;
  object-fit: cover;
  width: 100%;
}

.activity-card figcaption {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}

.cardX2 {
  width: 20%;
  margin: 0%;
}

.activity-card-lite {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  height: 180px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.activity-card-lite img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 130px;
  object-fit: cover;
  width: 100%;
}

.activity-card-lite-up {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  height: 200px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.activity-card-lite-up img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.cardX2 figcaption {
  display: flex;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}
  /* END ACTIVITY */

/*END BODY*/

/*FOOTER*/
#global-footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

#global-footer li {
  list-style: none;
}

#global-footer ul {
  padding: 0;
  margin: 0;
}

#my-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 75%;
}

/*END FOOTER*/

/* MEDIA */
@media screen and (max-width: 640px) {
  #body-page {
    padding-left: 35px;
    padding-right: 35px;
  }

  #container-housing {
    flex-direction: column-reverse;    
  }

  #housing-article, #housing-aside {
    width: 100%;
  }

  #housing-details {
    width: 100%;
  }

  .article-card {
    width: 100%;
  }
  
  .activity-card {
    height: 180px;
    width: 100%;
  }

  .activity-card img {
    height: 130px;
  }

  .activity-card-lite-up {
    height: 180px;
  }

  .activity-card-lite-up img {
    height: 130px;
  }

  .cardX2 {
    width: 100%;
  }

  #my-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}