* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/
#header-princ {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

/*RESERVIA LOGO*/
#img-princ {
  margin: 0;
  width: 60%;
}

#header-princ img {
  height: 40px;
  width: 80px;
}

/*NAVIGATION LIST*/
#nav-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


#nav-list li {
  margin-left: 50px;
}

#nav-list li > a:link {
  color: black;
  text-decoration: none;
  padding-top: 20px;

}

#ancore {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.blue-border :hover{
  color: #0065FC;
  border-top: solid 2px #0065FC ;
}
/*END HEADER*/

/*BODY*/

#body-page {
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  width: 100%;
}

  /*CONTAINER HIGH*/


#search-bar {
  display: flex;
  align-items: center;
}

#search-bar i {
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

#search-bar input {
  border-bottom: solid 1px #F2F2F2;
  border-left: none;
  border-right: none;
  border-top: solid 1px #F2F2F2;
  margin-left: 0px;
  margin-right: 0px;
  padding: 9.5px;
}

#search-bar button span {
  display: inline;
}

#search-bar button i {
  display: none;
  background-color: inherit;
}

#search-bar button {
  background-color: #0065FC;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 10px;
}


#description h2 {
  font-size: 18px;
  font-weight: normal;
}

#filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#filters ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 9px;
}

#filters li {
  align-items: center;
  border: solid 2px #F2F2F2;
  border-radius: 30px;
  display:  flex;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
  padding-left: 60px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

#filters li:hover {
  background-color: #DEEBFF;
}

#filters li > i {
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  left: -1px;
  position: absolute;
  top: -2px;
  width: 50px;
  z-index: 2;
}

#filters li > i:hover {
  background-color: white;
}

#end-container-high {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#end-container-high i {
  color: #0065FC;
  margin-right: 5px;
}
  /* END CONTAINER-HIGH */

  /*ARTICLE*/
#container-housing {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

#housing-article {
  background-color: #F2F2F2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  width: 70%;
}

#housing-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
}

#housing-article a {
  font-weight: bold;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  margin-top: 30px;
  padding: 5px;
  width: 30%;
}

.article-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.article-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
}

.article-card p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
}

.article-card ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 3px;
  padding: 0;
}

.article-card i {
  color: #0065FC;
}

.article-card i.grey-star {
  color: rgb(207, 207, 207);
}
  /* END ARTICLE */

  /*ASIDE*/
#housing-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #F2F2F2;
  border-radius: 15px;
  width: 25%;
}

#aside-title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-left: auto; 
  margin-right: auto; 
  width: 90%;
}

#aside-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 0px; 
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.aside-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  display: flex;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

.aside-card img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 135px;
  object-fit: cover;
  width: 135px;
}

.aside-card div {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-bottom: 5px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.aside-cards-text{
  margin-top: 0;
}

.aside-cards-text h3 {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0;
}
.aside-cards-text p {
  font-size: 14px;
  margin:0;
  padding:0;
}

.aside-card ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aside-card i {
  color: #0065FC;
}

.aside-card i.grey-star {
  color: rgb(207, 207, 207);
}
  /* END ASIDE */

  /* ACTIVITY */
#container-activitys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 40px;
}

#activitys-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity-card {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  display: flex;
  flex-direction: column;
  height: 395px;
  margin: 0;
  text-align: center;
  width: 20%;
}

.activity-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 345px;
  object-fit: cover;
  width: 100%;
}

.activity-card figcaption {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}

.cardX2 {
  width: 20%;
  margin: 0%;
}

.activity-card-lite {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  height: 180px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.activity-card-lite img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 130px;
  object-fit: cover;
  width: 100%;
}

.activity-card-lite-up {
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
  height: 200px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.activity-card-lite-up img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.cardX2 figcaption {
  display: flex;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}
  /* END ACTIVITY */

/*END BODY*/

/*FOOTER*/
#global-footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

#global-footer li {
  list-style: none;
  margin-top: 10px;
}

#global-footer ul {
  padding: 0;
  margin: 0;
}

#my-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 75%;
}

/*END FOOTER*/

/* MEDIA */
  /* BIG TABLET */
@media screen and (max-width: 1250px) {
  #housing-aside {
    padding-left: 0px;
    padding-right: 0px;
  }

  .aside-card img {
    width: 80px;
  }
}
  /* END BIG TABLET */

  /* CLASSIC TABLET */
@media screen and (max-width: 1024px) {
  #body-page {
    padding-left: 25px;
    padding-right: 25px;
  }

  #header-princ {
    align-items: center;
    padding: 0;
  }

  #header-princ img {
    order: 1;
    padding-left: 20px;
  }

  #nav-list {
    order: 3;
    width: 100%;
  }

  #ancore {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  #blue-border {
    border-bottom: solid 2px #0065FC ;
  }

  #grey-border {
    border-bottom: solid 2px #F2F2F2;
  }

  #nav-list li {
    justify-content: center;
    margin-left: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
  } 

  #sign-in {
    order: 2;
    padding-right: 20px;
  }
  /* END HEADER */
  
  /* BODY-PAGE */
  /* CONTAINER-HIGH */
  #description {
    text-align: center;
  }

  #search-bar {
    justify-content: center;
    align-items: end;
  }

  #search-bar input {
    width: 60%;
  }

  #search-bar button span {
    display: inline;
  }

  #search-bar button i {
    display: none;
    background-color: inherit;
  }

  #filters {
    justify-content: space-between;
  }

  #filters ul {
    padding: 0;
  }

  #end-container-high {
    align-self: flex-start;
  }
  /* END CONTAINER-HIGH */

  #container-housing {
    flex-direction: column-reverse;  
    width: 100%;  
  }

  #housing-aside {
    background-color: inherit;
  }

  #aside-details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .aside-card {
    margin: 10px;
    width: 40%;
  } 

  #housing-article, #housing-aside {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  
  #housing-article {
    background-color: white;
  }

  #housing-details {
    width: 100%;
  }
  /* END ASIDE */
  
  /* ACTIVITY */
  #activitys-details {
    text-align: center;
  }
  .activity-card {
    height: 180px;
    width: 30%;
  }

  .activity-card img {
    height: 130px;
  }

  .activity-card figcaption {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    height: 45px;
    align-items: center;
    justify-content: center;
  }

  .cardX2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .activity-card-lite {
    height: 180px;
    margin-left: 30px;
    width: 100%;
  }

  .activity-card-lite figcaption {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    height: 45px;
    align-items: center;
    justify-content: center;
  }

  .activity-card-lite-up {
    height: 180px;
    margin-left: 30px;
    width: 100%;
  }

  .activity-card-lite-up img {
    height: 130px;
  }

  .activity-card-lite-up figcaption {
    display: inherit;
    margin-top: 7px;
    margin-left: 0;
  }

  /* END ACTIVITY */

  /* FOOTER */
  #global-footer {
    padding-left: 25px;
    padding-right: 25px;
  }
  #my-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  /* END FOOTER */
}
  /* END TABLET */

  /* PHONE */
@media screen and (max-width: 640px) {
  #body-page {
    padding: 0;
  }

  #header-princ {
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  #header-princ img {
    order: 1;
    padding-left: 20px;
  }

  #img-princ {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #img-princ img {
    width: 150px;
  }

  #nav-list {
    order: 3;
    width: 100%;
  }

  #ancore {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  #blue-border {
    border-bottom: solid 2px #0065FC ;
  }

  #grey-border {
    border-bottom: solid 2px #F2F2F2;
  }

  #nav-list li {
    justify-content: center;
    margin-left: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
  } 

  #sign-in {
    order: 2;
    padding-right: 20px;
  }
  /* END HEADER */
  
  /* BODY-PAGE */
  /* CONTAINER-HIGH */
  #container-high {
    padding-left: 25px;
    padding-right: 25px;
  }

  #description {
    text-align: left;
  }

  #search-bar {
    height: 37px;
  }

  #search-bar button {
    align-items: center;
    border-radius: 15px;
    display: flex;
    height: 37px;
    justify-content: center;
    margin-left: -12px;
    width: 37px;
  }

  #search-bar button span {
    display: none;
  }

  #search-bar button i {
    background-color: transparent;
    display: inline;
    height: 37px;
    width: 37px;
  }

  #filters ul {
    padding: 0;
  }

  #filters li {
    margin: 2px;
  }

  #end-container-high {
    align-self: flex-start;
  }

  #container-housing {
    flex-direction: column-reverse;  
  }

  #housing-aside {
    border-radius: 0px;
    justify-content: center;
    margin: 0;
  }

  #aside-details {
    width: 100%;
  }

  .aside-card {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  } 

  #housing-article, #housing-aside, #container-activitys, #global-footer {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
  
  #housing-article {
    background-color: white;
  }

  #housing-details {
    width: 100%;
    justify-content: center;
  }

  .article-card {
    height: 230px;
    width: 80%;
  }
  
  .activity-details {
    justify-content: center;
  }

  .activity-card {
    height: 180px;
    width: 80%;
  }

  .activity-card img {
    height: 130px;
  }

  .activity-card-lite-up {
    height: 180px;
    margin-left: 0px;
  }

  .activity-card-lite-up img {
    height: 130px;
  }

  .activity-card-lite {
    margin-left: 0px;
  }

  .cardX2 {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #my-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}